streamlit
groq
faiss-cpu
sentence-transformers
langchain
langchain-text-splitters
pypdf
PyPDF2
python-dotenv
plotly
matplotlib
pandas
python-docx
Pillow
pytesseract
opencv-contrib-python
speechrecognition
pyttsx3
fastapi
uvicorn
