streamlit
google-generativeai
faiss-cpu
sentence-transformers
langchain
pypdf
PyPDF2
python-dotenv
plotly
matplotlib
pandas
opencv-python
speechrecognition
pyttsx3
fastapi
uvicorn
groq
langchain-text-splitters
python-docx
openpyxl
opencv-contrib-python
